.alertify-logs.right {
  right: 0;
  width: 40%;
}


.alertify-logs.right > .default,
.alertify-logs.right > .success{
  transform: translateX(50%);
  transform: translateY(50%);
  text-align: left;
}
.alertify-logs.right > .error {
  transform: translateX(50%);
  transform: translateY(50%);
  text-align: left;
}

