

<!--<div class=" wrapper">
  &lt;!&ndash; Sidebar Holder &ndash;&gt;
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>hubcontrol</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Import Master Data</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a routerLink="/property">Property</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/resident">Resident</a></li>
          <li><a routerLink="/service-provider">Service-Provider</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/data-management" routerLinkActive="active">Export Master Data</a>
      </li>
     &lt;!&ndash; <li><a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>&ndash;&gt;
      &lt;!&ndash;<li><a routerLink="/footer"><span class="glyphicon glyphicon-log-out"></span> Form</a></li>&ndash;&gt;
    </ul>


  </nav>
  &lt;!&ndash; Page Content Holder &ndash;&gt;
  <div id="content">
    &lt;!&ndash;<button (click)="showAlert()">Confirm alert</button>
    <button (click)="helloAlert()">Hello alert</button>
    <button (click)="errorAlert()">Error alert</button>
    <button (click)="successAlert()">Success alert</button>&ndash;&gt;
  </div>

</div>-->



<div class="sidebar clearfix collapse" id="collapseThree" >
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link rob" routerLink="/dashboard" ><i class="icon-speedometer"></i>Dashboard</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer"  type="button"  onclick="test()"></button>
</div>





