<app-header></app-header>

<div class="app-body">

  <app-sidebar>  </app-sidebar>
  <main class="main">
    <ol class="breadcrumb">
     <!-- <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item"><a routerLink="/dashboard">Admin</a></li>-->
      <li class="breadcrumb-item active rob">Services Management</li>

      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
         <!-- <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" href="#"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <div id="ui-view"></div>
    <div class="content-data">
      <div id="r_div" class="upload-file">
        <form [formGroup]="requestSLAForm">
          <div class="form-group">
          <b class="rob">Services Upload File:</b>
          <input type="file" (change)="fileChangeEvent_request_sla($event)" required formControlName="request_sla_name" placeholder="Upload file..." />
            <br>
          <button type="submit" class="btn btn-primary" (click)="uploadExcel_request_sla()" [disabled]='check_request_sla'>Upload</button>
          </div>
        </form>
      </div>
      <div id="r_div" style="border: dashed 2px #000000;">
       <b class="rob"> Download the latest Services file:</b> <br>
        <button type="submit" class="btn btn-primary" (click)="downloadServices()" ><i class="fa fa-file-excel-o" style="font-size:24px">xls</i></button>
        <button type="submit" class="btn btn-primary" (click)="downloadServicesXlsxFormat()" ><i class="fa fa-file-excel-o" style="font-size:24px">xlsx</i></button>
      </div>

      <ng4-loading-spinner> </ng4-loading-spinner>
    </div>
    </div>
  </main>

</div>
<app-footer></app-footer>
