

<!--border: 2px solid black;-->
<div id='cssmenu'>
  <ul class="tabs-menu">
    <li><img src="../../assets/e-images/melogo.png" style="height:100px"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li class='active'><a routerLink="/home">Home</a></li>
    <li><a>Products</a></li>
    <li><a >Company</a></li>
    <li><a >Contact</a></li>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/login">LogIn</a></li>
  </ul>
</div>
<div id="tab-1">

  <msw-navbar>

  </msw-navbar>

</div>








